# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

In [4]:
# Set the date column as the DataFrame index
df.set_index("date", inplace = True)
df.head()

In [5]:
# Drop the date column
df.reset_index(drop=True)

### Compare June and December data across all years

In [6]:
import pandas as pd
from datetime import datetime as dt
from scipy import stats
hawaii_df = pd.read_csv('../Resources/hawaii_measurements.csv')
hawaii_df['date'] = pd.to_datetime(hawaii_df['date'])
#df.dtypes
hawaii_df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [7]:
hawaii_df.dropna(axis = 0, how="any", inplace=True)

hawaii_df['month'] = hawaii_df['date'].dt.month
hawaii_df.head()

       station       date  prcp  tobs  month
0  USC00519397 2010-01-01  0.08    65      1
1  USC00519397 2010-01-02  0.00    63      1
2  USC00519397 2010-01-03  0.00    74      1
3  USC00519397 2010-01-04  0.00    76      1
5  USC00519397 2010-01-07  0.06    70      1

In [8]:
# Identify the average temperature per month over entire dataset (all stations, all years)
bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
bin_labels = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
hawaii_df["month"] = pd.cut(hawaii_df["month"], bins=bins, labels=bin_labels)
#hawaii_df.head()

month_group = hawaii_df.groupby("month")
full_month = month_group["station"].nunique()
avg_temp = month_group["tobs"].mean()

temperature_df = pd.DataFrame({"Avg. Temp": avg_temp, "# of tobs": full_month})
temperature_df.head(12)

       Avg. Temp  # of tobs
month
Jan    68.653704          9
Feb    69.352660          9
Mar    69.938697          9
Apr    72.281505          9
May    73.622537          9
June   74.887548          9
July   75.956023          9
Aug    76.287534          9
Sept   76.002175          9
Oct    75.256055          9
Nov    73.159357          9
Dec    70.930249          9

In [9]:
# Run paired t-test

### Analysis